{% extends 'base.html' %}

{% block content %}

<div class="container">
  <div class="mb-3">
    <h1>CREATE A USER</h1>

    <form action="/users/new" method="POST">

      <div class="mb-3 row">
        <label for="first_name" class="form-label">First Name</label>
        <input
          type="text"
          name="first_name"
          class="form-control"
          placeholder="Enter a first name"
        >
      </div>

      <div class="mb-3 row">
        <label for="last_name" class="form-label">Last Name</label>
        <input
          type="text"
          name="last_name"
          class="form-control"
          placeholder="Enter a last name"
        >
      </div>

      <div class="mb-3 row">
        <label for="image_url" class="form-label">ImageURL</label>
        <input
          type="text"
          name="image_url"
          class="form-control"
          placeholder="Provide an image of this user"
        >
      </div>
      <button type="submit" class="btn btn-primary mb-3">Add</button>

    </form>

  </div>
</div>

{% endblock %}